/* Общие стили */
.qviz-section {
    padding: 40px 0;
    background-color: #e9f5ff;
  
    font-family: 'Arial', sans-serif;
}
.normis{
       display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
        flex-direction: column;
}



